body {
  font-family: Roboto, sans-serif;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #000306 !important;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}
.ant-layout {
  min-height: 100vh;
}
.ant-layout-sider {
  flex: 0 0 250px !important;
  max-width: 250px !important;
  min-width: 250px !important;
  width: 250px !important;
}
.ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}
.sm-logo {
  display: none;
}

.ant-layout-sider-collapsed .sm-logo {
  display: block;
}
.ant-layout-sider-collapsed .lg-logo {
  display: none;
}
.logo {
  background-color: #1f1f1f !important;;
  margin: 0;
  height: 55px;
}
main {
  height: 85vh;
  overflow-y: scroll;
  background-color: transparent !important;
}
main::-webkit-scrollbar {
  width: 0px;
}
.ant-menu-title-content {
  font-size: 16px;
}
.ant-layout-header h5 {
  line-height: 20px;
  font-size: 14px;
}
.ant-layout-header p {
  line-height: 20px;
  font-size: 13px;
}
.ant-layout-header div .badge {
  top: 16px;
  right: -6px;
}
.error {
  color: red;
  font-size: 12px;
}
.color-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: middle; /* To align the icon vertically with the text */
}


/* Change the background color of the menu and submenu items */
.ant-layout-sider
{
  background-color: #161616 !important;
}



/* Change the background color of the menu items */
.ant-menu-dark .ant-menu-item {
  background-color: #161616 !important;
}

.ant-menu-dark .ant-menu-submenu-title {
  background-color: #161616 !important;
}
.ant-menu-dark .ant-menu-inline {
  background-color: #161616 !important;
}

/* Change the background color of the menu items on hover */
.ant-menu-dark .ant-menu-item:hover,
.ant-menu-dark .ant-menu-submenu-title:hover {
  background-color: #1f1f1f !important;
}

/* Change the background color of the selected menu items */
.ant-menu-dark .ant-menu-item-selected,
.ant-menu-dark .ant-menu-submenu-title-selected {
  background-color: #1f1f1f !important;
}
.ant-menu-dark .ant-menu-submenu-selected.ant-menu-sub  {
  background-color: #161616 !important;
}

.ant-menu-dark .ant-menu .ant-menu-sub .ant-menu-inline {
  background-color: #161616 !important;
}

.custom-menu {
  /* Add your styles here */
  background-color: #161616 !important;
}

